body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    2;
    2;
}

.container {
    max-width: 800px;
    20px auto;
    background-color: #fff;
    20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    #333;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h3 {
    #666;
    font-size: 20px;
    margin-top: -10px;
}

section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

h2 {
    #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

/* Colors */

.container {
    background-color: #f1f1f1;
    #333;
}

h1 {
    :#1f6f8b ;
}

h2 {
   color: #ff6f3c;
    border-bottom: 2px solid #ff6f3c;
}

section {
    border-color: #ddd;
}

ul {
    #4d4d4d;
}

p {
    #808080;
}
